body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 50px;
}

.orange {
  color: coral;
}

.container {
  display: flex;
  margin-left: 10px;
  justify-content: center;
}

img {
  height: 500px;
}

a {
  text-decoration: none;
  background-color: crimson;
  color: black;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
}

.half-width {
  width: 50%;
}

.container2 {
  display: flex;
}

.half {
  width: 50%;
}